* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #ccc;
}

.App {
  display: flex;
  justify-content: center;
  gap: 2em;
}
